.modal-cart {
  width: 397px;
  height: 393px;

  box-shadow: 0px 3px 13px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  background: #ffffff;

  .title-cart {
    display: flex;
    justify-content: center;

    font-size: 22px;
    font-weight: 700;

    color: #7047eb;

    padding-top: 13px;
    padding-bottom: 44px;
  }

  .products-in-cart {
    margin-left: 16px;
    margin-right: 16px;

    height: 257px;

    .prod {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 5px;
    }

    .prod-name {
      font-weight: 700;
      font-size: 18px;

      max-width: 198px;

      color: #898989;
    }

    .prod-value {
      font-weight: 700;
      font-size: 18px;

      color: #7047eb;
    }

    .prod-btn-remove {
      width: 45px;
      height: 32px;

      font-size: 24px;
      color: #ffffff;

      background: #eb4747;
      border: 2px solid #ffffff;
      border-radius: 11px;

      cursor: pointer;
    }
  }

  .total {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 397px;
    height: 54px;

    background: #7047eb;
    border-radius: 0px 0px 15px 15px;

    .txt-total {
      font-weight: 700;
      font-size: 22px;

      margin-left: 16px;

      color: #ffffff;
    }

    .txt-sum {
      font-weight: bold;
      font-size: 22px;

      margin-right: 16px;

      color: #ffffff;
    }
  }
}
